node_modules/
frontend/node_modules/
backend/node_modules/
frontend/build/
.env
*.env
npm-debug.log*
frontend/dist/
dist/
coverage/
.cache/
.env.local
.env.*.local
*.log
yarn-*.log
pnpm-*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
