body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
}

button {
  background: linear-gradient(90deg, #004CA0, #FDB9C8);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s;
}
button:hover {
  transform: scale(1.05);
}
